<footer>
  <div class="row">
    <div class="large-4 columns"><a href="../index.html" alt="Pattern Library Home"><img src="../img/logo-client-blue.svg" alt="Client Logo" width="300" height="40"></a>
      <ul class="vcard">
        <li class="fn">GenesisHealth Plans</li>
        <li class="street-address">123 Colonial Ave.</li>
        <li class="locality">Caprica City</li>
        <li><span class="state">Caprica, </span><span class="zip">12345</span></li>
        <li class="email"><a href="#">info@GenesisHealth.com</a></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <h3>Our Mission</h3>
      <p>Lorem ipsum Occaecat Duis ad tempor dolor magna pariatur magna commodo pariatur non cillum dolore adipisicing cupidatat velit ullamco in sunt laboris reprehenderit pariatur veniam voluptate sit ea anim deserunt aliquip non do ut id.</p>
    </div>
    <div class="large-4 columns">
      <h3>Connect</h3>
      <ul class="icon-ul">
        <li><span class="icon icon-li phone"></span><a href="tel:503.799.2217">239.234.1900</a></li>
        <li><span class="icon icon-li mail"></span><a href="#">Contact Us</a></li>
        <li><span class="icon icon-li twitter"></span><a href="twitter.com/healthsparq">twitter</a></li>
        <li><span class="icon icon-li linkedin"></span><a href="linkedin.com/in/allanwhite">Connect on LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>