<nav class="tab-bar hide-for-large-up">
  <section class="left tab-bar-section">
    <section id="client-header" class="row">
      <div id="logo" class="large-4 columns"><a href="../index.html" alt="Pattern Library Home"><img src="../img/logo-client-blue.svg" alt="Client Logo" width="300" height="40"></a></div>
    </section>
  </section>
  <section class="right-small"><a class="right-off-canvas-toggle menu-icon"><span></span></a></section>
</nav>