<div class="off-canvas-list">
  <div class="pad-box"></div>
  <h2>Explore:<a href="" title="Sort byprice" class="button round">by price</a><a href="" title="Sort byrating" class="button round">by Patient Rating</a><a href="" title="Sort byquality" class="button round">by Quality Metrics</a><a href="" title="Sort bylocation" class="button round">by location</a>
  </h2>
  <h3>Filter Your Search</h3>
  <ul class="icon-ul">
    <li><span class="icon icon-li radio-unchecked"></span>Orthopaedic Surgery</li>
  </ul>
  <h4>Reason for Visit</h4>
  <ul class="icon-ul">
    <li><span class="icon icon-li radio-checked"></span>Orthopaedic Surgery</li>
    <li><span class="icon icon-li radio-unchecked"></span>Physician Care Existing Patient</li>
    <li><span class="icon icon-li radio-unchecked"></span>Drain Bursa</li>
    <li><span class="icon icon-li radio-unchecked"></span>Knee Arthroscopy with Cartilage Repair</li>
    <li><span class="icon icon-li radio-unchecked"></span>Knee Joint Replacement</li>
  </ul>
  <h4>Gender
    <ul class="icon-ul">
      <li><span class="icon icon-li radio-checked"></span>Male</li>
      <li><span class="icon icon-li radio-unchecked"></span>Female</li>
    </ul>
  </h4>
</div>