<section id="searchbox" class="row xtrapad container-dark">
  <div class="large-12 columns show-for-large-up">
    <form id="search-form" class="row collapse">
      <div class="large-10 columns">
        <div class="row collapse">
          <div class="large-8 columns">
            <label for="#input-what">Search for people, places or conditions</label>
            <input id="input-what" placeholder="Person, Place or Specialty" tabindex="1" type="text" autocomplete="off" value="Knee replacement" class="first radius">
          </div>
          <div class="large-4 columns">
            <label for="#input-what">Choose a location</label>
            <input id="input-location" placeholder="Location" tabindex="2" type="text" autocomplete="off" value="Portland, OR, United States" class="radius">
          </div>
        </div>
      </div>
      <div class="large-2 columns">
        <label for="#search-button" class="invisible">.</label>
        <button id="search-button" class="button secondary round expand"><span class="icon search"></span>Search</button>
      </div>
    </form>
  </div>
  <div class="small-12 columns hide-for-large-up">
    <form id="search-form">
      <div class="row">
        <div class="large-12 columns">
          <input id="input-what" placeholder="Person, Place or Specialty" tabindex="1" type="text" autocomplete="off" value="Knee replacement" class="radius">
        </div>
      </div>
      <div class="row">
        <div class="small-8 columns">
          <input id="input-location" placeholder="Location" tabindex="2" type="text" autocomplete="off" value="Portland, OR, United States" class="radius">
        </div>
        <div class="small-4 columns">
          <button id="location" class="button round"><span class="icon location2"></span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="small-8 columns">
          <button id="search-button" class="button bright round success"><span class="icon search"></span>Search</button>
        </div>
        <div class="small-4 columns">
          <button id="filter-button" class="button round right-off-canvas-toggle"><span class="icon filter"></span>filters
          </button>
        </div>
      </div>
    </form>
  </div>
</section>