<div>
  <a {{action "toggleContent"}}>
    {{#unless App.hideContent}}
      Hide Info
      <span class="icon arrow-up2"></span>
    {{else}}
      Show Info
      <span class="icon arrow-down2"></span>
    {{/unless}}
  </a>
</div>

{{#unless App.hideContent}}
  <section class="row">
    <div class="columns large-12">
      <p>{{{model.desc}}}</p>
      {{{model.content}}}
    </div>
  </section>
{{/unless}}