<section class="row">
  <div class="large-8 columns">
    <h1 class="h1">Healthsparq Pattern Library 2.0</h1>

    {{render "atoms.index"}}

    {{render "molecules.index"}}

    {{render "organisms.index"}}

    {{render "templates.index"}}
  </div>
</section>