@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/museo/museosans_500-webfont.eot");
  src: url("../fonts/museo/museosans_500-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/museo/museosans_500-webfont.woff") format("woff"),
       url("../fonts/museo/museosans_500-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/museo/museosans_500-italic-webfont.eot");
  src: url("../fonts/museo/museosans_500-italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/museo/museosans_500-italic-webfont.woff") format("woff"),
       url("../fonts/museo/museosans_500-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/museo/museosans_700-webfont.eot");
  src: url("../fonts/museo/museosans_700-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/museo/museosans_700-webfont.woff") format("woff"),
       url("../fonts/museo/museosans_700-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "MuseoSlab";
  src: url("../fonts/museo/museo_slab_300-webfont.eot");
  src: url("../fonts/museo/museo_slab_300-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/museo/museo_slab_300-webfont.woff") format("woff"),
       url("../fonts/museo/museo_slab_300-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "MuseoSlab";
  src: url("../fonts/museo/museo_slab_300-italic-webfont.eot");
  src: url("../fonts/museo/museo_slab_300-italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/museo/museo_slab_300-italic-webfont.woff") format("woff"),
       url("../fonts/museo/museo_slab_300-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}