$pad: rem-calc(15);
// Profile Page styles
#client-header{
	// margin-top: $pad;
	// jus' a lil' extra puddin'
	margin-bottom: $pad;
	padding-top: $pad * 1.5;
	padding-bottom: $pad;
}
.profile-primary {
  .ratings-container {
    padding-bottom: rem-calc(6);
  }
}
.profile-primary-infobox {
  background: lighten($secondary-color, 12%);
  border-radius: $global-radius;
  border: 1px solid $secondary-color;
  padding: rem-calc(10);
  margin: 0px !important;

  .label {
    text-transform: uppercase;
    margin: 0 0 rem-calc(10) rem-calc(10);
  }
  
  .info-list {
    margin-bottom: 0;
    &.bump-down {
      margin-top: rem-calc(30);
    }
    li {
      margin-bottom: 0;
    }
  }
}


#you-pay {
  margin-bottom: rem-calc(20);
  .title {
    margin-bottom: rem-calc(5);
  }
  .price {
    font-size: rem-calc(20);
    font-weight: 300;
    color: $gray-mid;
    margin-bottom: rem-calc(10);
    span{
      font-size: 2.25em;
      font-weight: 400;
      color: $gray-dark;
      letter-spacing: -2px;
    }
    strong {
      font-weight: 400;
      color: $gray-dark;
    }
    
  }
  .average-price {
    @extend .title;
    text-transform: uppercase;
    padding-top: 0 !important;
    span {
      color: $gray-dark;
      text-decoration: line-through;
      letter-spacing: 0;
    }
  }
  .label {
    text-transform: uppercase;
    color: $gray-dark;
    font-weight: 700;
  }
  .network {
    margin: rem-calc(10) 0;
  }
  
}



