<h1>Buttons</h1>

{{partial "content"}}

<h2>Examples</h2>

<p>
  <strong>Standard button</strong>
</p>

{{hs-button label="Standard"}}

<p>
  <strong>Secondary button</strong>
</p>

{{#hs-button classNames="secondary"}}Secondary{{/hs-button}}

<p>
  <strong>Small alert button</strong>
</p>

{{#hs-button classNames="small alert"}}Delete{{/hs-button}}

<p>
  <strong>Small with rounded corners</strong>
</p>

{{#hs-button classNames="small radius"}}Small rounded{{/hs-button}}

<p>
  <strong>Tiny, secondary, rounded</strong>
</p>

{{#hs-button classNames="tiny secondary radius"}}Tiny, secondary, rounded{{/hs-button}}

<p>
  <strong>Large</strong>
</p>

{{#hs-button classNames="large"}}Large{{/hs-button}}