<h1>Buttons</h1>

<p>Simple button markup looks like:</p>

<pre><code>&#123;&#123;hs-button label="Submit"&#125;&#125;

&#123;&#123;#hs-button classNames="alert"&#125;&#125;Delete&#123;&#123;/#hs-button&#125;&#125;

</code></pre>

<p>Here are some example buttons:</p>

<p>
  <strong>Standard button</strong>
</p>

{{hs-button label="Standard"}}

<p>
  <strong>Secondary button</strong>
</p>

{{#hs-button classNames="secondary"}}Secondary{{/hs-button}}

<p>
  <strong>Small alert button</strong>
</p>

{{#hs-button classNames="small alert"}}Delete{{/hs-button}}

<p>
  <strong>Small with rounded corners</strong>
</p>

{{#hs-button classNames="small radius"}}Small rounded{{/hs-button}}

<p>
  <strong>Tiny, secondary, rounded</strong>
</p>

{{#hs-button classNames="tiny secondary radius"}}Tiny, secondary, rounded{{/hs-button}}

<p>
  <strong>Large</strong>
</p>

{{#hs-button classNames="large"}}Large{{/hs-button}}