<h2 class="h2">
  {{#link-to "atoms"}}Atoms{{/link-to}}
  <small class="subheader">Components</small>
</h2>
<p>Atoms are small. Really, really small.</p>

<ul class="no-bullet">
  <li>
    {{#link-to "atoms.hs-button"}}Buttons{{/link-to}}
  </li>
  <li>
    Drop-downs
  </li>
  <li>
    Forms
  </li>
</ul>